<div class="contenedor">
    <h2>Contador</h2>
    <p>Número actual: {{ numero() }}</p>

    <label for="">
        Paso:
        <input type="number" (input)="actualizarPaso($event.target.value)">
    </label>
    <br><br>

    <button (click)="aumentar()">+{{ paso() }}</button>
    <button (click)="disminuir()">-{{ paso() }}</button>
    <button (click)="reiniciar()">Reiniciar</button>

    <p *ngIf="numero > 0">¡Número positivo!</p>
    <p *ngIf="numero < 0">¡Número negativo!</p>
    <p *ngIf="numero === 0">Está en cero</p>
    
</div>
