.contenedor {
    text-align: center;
    margin-top: 40px;
}

button {
 margin: 5px;
 padding: 10px 20px;
 font-size: 18px;
 cursor:pointer;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    margin-bottom: 15px;
}

