.contenedor {
    text-align: center;
    margin-top: 40px;
}

button {
 margin-right:  8px;
 padding: 8px 12px;
 font-size: 18px;
 cursor:pointer;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    margin-bottom: 15px;
}

label {
    font-size: 16px;
}
input {
    width: 60px;
    padding: 4px;
    margin-left: 5px;
}